#standings
  = render :partial => 'standings'

= javascript_tag do
  $(document).ready( |
    function(){ |
      setInterval(function(){ |
        $('#standings').load("/refresh?date=#{Date.today.to_s}"); |
      }, 30000); |
    }); |
