%h1 New player

= render 'form'

= link_to 'Back', players_path

:javascript
  $(function() {
    $.get("/teams.json", function(data) {
      teamMap = {};
      $(data).each(function(i,team) {
        teamMap[team.name] = team.id
      });
      $('#player_team').typeahead({
        minLength: 2,
        source: function(query, process) {
          process(Object.keys(teamMap));
        },
        updater: function(item) {
          $('#player_team_id').val(teamMap[item]); 
          return item;
        }
      });
    })
  });

