# duplicated in draft_helper
colorMap = {
  1: 'blue', 2: 'red', 3: 'green', 4: 'brown',
  5: 'darkorange', 6: 'purple', 7: 'olive', 8: 'firebrick',
  9: 'darkslateblue', 10: 'dimgray', 11: 'coral', 12: 'darkolivegreen'
}

$ ->
  $('#error-alert').alert()
  $('#error-alert').bind 'close', () ->
    $('#error-alert').hide()
    false
  $('#message-form').on 'ajax:success', (event) ->
    $('input#message').val('')
  $('#message-form').on 'submit', (event) ->
    false if $('input#message').val() == ""
  $('#new_pick').on 'submit', (event) ->
    $('input#player_name').val('')
  $('#new_pick').on 'ajax:error', (event, response) ->
    $('#error-alert span').text(JSON.parse(response.responseText).errors[0])
    $('#error-alert').show()

  pusher = new Pusher('<%= Pusher.key %>')
  channel = pusher.subscribe('draft')
  channel.bind 'chat', (message) ->
    color = colorMap[message.user_id % 12]
    content = $('#chat-content')
    $('#messages').append("<li style='color:" + color + ";'>" + message.user_name + ': ' + message.body + '</li>')
    content.animate { scrollTop: content.prop("scrollHeight") - content.height() }, 1000
  channel.bind 'pick', (message) ->
    $('#draft-header').text(message.user_name + " picks " + message.player_name)
    $('#team-' + message.user_id + ' ol').append('<li>' + message.player_name + ' (' + message.team_name + ')</li>')
    if $('#round ol li:empty:eq(0)').length == 0
      nextRound = parseInt($('#round h4').text().split(' ')[1]) + 1
      $('#round h4').text('Round ' + nextRound)
      $('#round ol li').text('')
    $('#round ol li:empty:eq(0)').text(message.user_name + ': ' + message.player_name + ' (' + message.team_name + ')')
