# duplicated in draft_helper
colorMap = {
  1: 'blue', 2: 'red', 3: 'green', 4: 'brown',
  5: 'darkorange', 6: 'purple', 7: 'olive', 8: 'firebrick',
  9: 'darkslateblue', 10: 'dimgray', 11: 'coral', 12: 'darkolivegreen'
}

$ ->
  $('#message-form').on 'ajax:success', (event) ->
    $('input#message').val('')
  $('#new_user_team').on 'submit', (event) ->
    $('input#player_name').val('')

  pusher = new Pusher('<%= Pusher.key %>')
  channel = pusher.subscribe('draft')
  channel.bind 'chat', (message) ->
    color = colorMap[message.user_id % 12]
    $('#messages').append("<li style='color:" + color + ";'>" + message.user_name + ': ' + message.body + '</li>')
  channel.bind 'pick', (message) ->
    $('#draft-header p').text(message.user_name + " picks " + message.player_name)
    $('#team-' + message.user_id + ' ol').append('<li>' + message.player_name + ' (' + message.team_name + ')</li>')
