colorMap = <%= DraftHelper::COLOR_MAP.to_json %>
scrollToBottom = (content) ->
  content.animate { scrollTop: content.prop("scrollHeight") - content.height() }, 1000

$ ->
  $('#error-alert').alert()
  $('#error-alert').bind 'close', () ->
    $('#error-alert').hide()
    false
  $('#message-form').on 'ajax:success', (event) ->
    $('input#message').val ''
  $('#message-form').on 'submit', (event) ->
    false if $('input#message').val() == ""
  $('#new_pick').on 'submit', (event) ->
    $('input#player_name').val ''
  $('#new_pick').on 'ajax:error', (event, response) ->
    $('#error-alert span').text(JSON.parse(response.responseText).errors[0])
    $('#error-alert').show()

  pusher = new Pusher('<%= Pusher.key %>')
  channel = pusher.subscribe('draft')
  channel.bind 'chat', (message) ->
    color = colorMap[String(message.user_id % 12)]
    content = $('#chat-content')
    $('#messages').append("<li style='color:" + color + ";'>" + message.user_name + ': ' + message.body + '</li>')
    scrollToBottom content
  channel.bind 'pick', (message) ->
    $('#draft-header').text(message.user_name + " picks " + message.player_name)
    $('#team-' + message.user_id + ' ol').append('<li>' + message.player_name + ' (' + message.team_name + ')</li>')
    roundWindow = $('#round-window')
    roundWindow.find('ol li:empty:eq(0)').text(message.user_name + ': ' + message.player_name + ' (' + message.team_name + ')')
