colorMap = <%= DraftHelper::COLOR_MAP.to_json %>

$ ->
  $('#message-form').on 'ajax:success', (event) ->
    $('input#message').val('')
  $('#new_pick').on 'submit', (event) ->
    $('input#player_name').val('')

  pusher = new Pusher('<%= Pusher.key %>')
  channel = pusher.subscribe('draft')
  channel.bind 'chat', (message) ->
    color = colorMap[message.user_id % 12]
    $('#messages').append("<li style='color:" + color + ";'>" + message.user_name + ': ' + message.body + '</li>')
  channel.bind 'pick', (message) ->
    $('#draft-header p').text(message.user_name + " picks " + message.player_name)
    $('#team-' + message.user_id + ' ol').append('<li>' + message.player_name + ' (' + message.team_name + ')</li>')
    if $('#round ol li:empty:eq(0)').length == 0
      nextRound = parseInt($('#round h4').text().split(' ')[1]) + 1
      $('#round h4').text('Round ' + nextRound)
      $('#round ol li').text('')
    $('#round ol li:empty:eq(0)').text(message.user_name + ': ' + message.player_name + ' (' + message.team_name + ')')
