body {
  background: image-url('illinois_basketball.png') center no-repeat #FDFAF7
}

.eliminated {
  color: red;
  text-decoration: line-through;
}

.playing {
  color: green;
  text-decoration: bold;
}

#last_refresh {
  font-style: italic;
}

.sortable {
  list-style-type: none;
}
